html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* Estilos globales aplicados */

body {
    background-color: #404eb3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

a,
p {
    margin: 0;
    padding: 0;
}


/* Contenedor Android - Android container */

.android {
    width: 60%;
    max-width: 30rem;
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Android  Head */

.android-head {
    position: relative;
    left: 3.5rem;
}

.android-ears {
    width: 8rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 2rem;
}

.android-ears .ear {
    width: .5rem;
    height: 5rem;
    background-color: #8bc34a;
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;
}

.ear-1 {
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
}

.ear-2 {
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
}

.android-head .android-face {
    background-color: #8bc34a;
    width: 15rem;
    height: 7.5rem;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
}

.android-head .android-face .android-eyes {
    margin: 0 auto;
    width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 1rem;
}

.android-eyes .eye {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.android-face .android-eyes-closed {
    width: 8rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 1.5rem;
}

.android-eyes-closed .eye-closed {
    width: 15px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
}

.rubor {
    width: 12rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 1.2rem;
}

.rubor>div {
    width: 20px;
    height: 15px;
    border-radius: 50%;
    background-color: #fa89af;
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.android:hover .android-eyes {
    opacity: 0;
}

.android:hover .eye-closed {
    opacity: 1;
}

.android:hover .rubor>div {
    opacity: 1;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}


/* Android Body  */

.android-body {
    width: 23rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-betwen;
    align-items: center;
    position: relative;
}

.android-body .arm {
    width: 3rem;
    height: 9.5rem;
    background-color: #8bc34a;
    position: relative;
    bottom: 1.5rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.android-body .android-chest {
    width: 15rem;
    height: 13rem;
    margin: .5rem;
    margin-bottom: 0;
    background-color: #8bc34a;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.android-legs {
    width: 9rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.android-legs .leg {
    width: 3rem;
    height: 5rem;
    background-color: #8bc34a;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}


/* Conctact US */

.copy {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.copy a {
    color: #8bc34a;
}

.contact,
.contact .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    margin: 3rem;
    padding: 1rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    max-height: 900px;
    z-index: 100;
}

.contact:target {
    visibility: visible;
    opacity: 1;
}

.contact h2,
.contact .social-networks {
    margin-bottom: 2rem;
}

.contact h2,
.contact p {
    text-align: center;
}

.contact .content {
    position: relative;
    z-index: 4;
    color: #404eb3;
}

.contact .social-networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-networks a {
    margin-right: 2rem;
}

.social-networks a:last-of-type {
    margin-right: 0;
}

.social-networks img {
    width: 25px;
}

#exit {
    position: absolute;
    color: #404eb3;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 5rem;
    transition: all 200ms;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
}